.triangle {
    stroke: black;
    fill: white;
}
.triangle.min {
    fill: cyan;
}
.triangle.max {
    fill: pink;
}
.mouse-polyline {
    stroke-width: 5px;
    stroke: blue;
    fill: none;
}
.mouse-polyline.invalid {
    stroke: red;
}
text {
    fill: black;
    font: 25px sans-serif;
    filter: url(#solid);
}
.ribbon {
    stroke: blue;
    fill: blue;
    mask: url(#mask-stripe);
}
.ribbon.invalid {
    stroke: red;
    fill: red;
}
.ribbon.final {
    stroke: green;
    fill: green;
}
.ribbon.final.invalid {
    stroke: purple;
    fill: purple;
}

div:has(input[name="show-js-ribbons"]:not(:checked)) ~ svg .ribbon.js {
    display: none;
}

div:has(input[name="show-py-ribbons"]:not(:checked)) ~ svg .ribbon.py,
label:has(input[name="show-py-ribbons"]:not(:checked)) ~ .show-py-ribbons-radio {
    display: none;
}

div:has(input[name="show-min-max-triangles"]:not(:checked)) ~ svg .triangle.min,
div:has(input[name="show-min-max-triangles"]:not(:checked)) ~ svg .triangle.max {
    display: none;
}
